---
type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>Progress in programming is rarely about sudden brilliance,</p>
  <p>but about staying curious, solving problems, and improving a little every day.</p>
</div>
